.advantages-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-card :not(:last-child) {
  margin: 0 0 4px 0;
}

.advantages-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #333333;
  max-width: 280px;
}

.advantages-card__description {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  max-width: 280px;
  margin: 0;
}

.advantages-card .advantages-card__svg {
  margin-bottom: 10px;
}
