.card {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 21px 20px;
  background: #ffffff;
  gap: 4px;

  @media (min-width: 768px) {
    width: 349px;
    box-sizing: border-box;
    padding: 50px 30px 30px 29px;
    min-height: 440px;
  }

  @media (min-width: 1440px) {
    width: 317px;
  }
}

.card__img {
  display: block;
  margin: 0 auto 19px auto;

  @media (min-width: 768px) {
    margin-bottom: 25px;
  }
}

.card__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #333333;
  max-width: 230px;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 6px;
  }
}

.card__description {
  margin: 0 0 12px 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  max-width: 230px;

  @media (min-width: 768px) {
    max-width: 279px;
    margin-bottom: 14px;
  }
}

.card__buy {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card__price {
  margin: auto 0 auto 0;
  color: #333333;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  max-width: 70px;
  word-break: break-word;
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  background: #7859cf;
  border-radius: 4px;
  border: none;
  gap: 6px;

  &:hover,
  &:focus {
    background: #9070ec;
  }

  &:active {
    background: #593cac;
  }

  &:disabled {
    background: #bdbdbd;
  }
}

.card__button-description {
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  max-width: 90px;
}
