.country {
  border: 0;
  padding: 0;
  padding-left: 2px;
  margin: 0;

  @media (min-width: 1440px) {
    padding-left: 0;
  }
}

.country__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 21px;
  padding: 0;
}

.country__list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 34px;

  & li:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.country__item {
  position: relative;
  margin-bottom: 20px;
}
