.nav-user {
  max-width: 180px;
}

.nav-user__list {
  margin: 0;
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;

  & li:nth-child(2) {
    margin-right: 60px;
  }
}

.nav-user__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}
