.pagination__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.pagination__svg {
  padding: 15px;

  &&--right {
    transform: rotate(180deg);
  }
}

.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  width: 40px;
  height: 40px;
  background: #ffffff;
  color: #7859cf;
  border-radius: 4px;

  &&--current {
    color: #333333;
    font-weight: 600;
  }
}

.pagination__number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin: 0;
  min-width: 40px;
  min-height: 40px;
}
