

.price-label__input {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 118px;
  height: 38px;
  padding: 7px 10px;
  border: 2px solid #9070ec;
  border-radius: 4px;
  background: #ffffff;
  box-sizing: border-box;
  text-align: center;
}

.price-label__input-min {
  margin-right: 44px;
}
