.social {
  min-height: 40px;
  display: flex;
  align-items: center;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  gap: 20px;
  max-width: 160px;
}

.social__item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  fill: #bdbdbd;
  display: flex;

  & :hover {
    fill: #7859cf;
    background: rgb(240, 235, 255);
  }

  & :active {
    fill: #7859cf;
    background: rgba(120, 89, 207, 0.25);
  }

  & :focus {
    fill: #7859cf;
    outline: none;
    background: rgb(240, 235, 255);
  }
}

.social__svg {
  padding: 10px;
}
